
.progress-bar{
    background-color: #ea006d;
}

.MJXc-TeX-math-I {
    font-family: MJXc-TeX-math-I, MJXc-TeX-math-Ix, MJXc-TeX-math-Iw;
}

.contInfo {
    width: 545px;
}

.progress-bar {
    padding: 0px 1px;
    font-weight: 800;
    font-size: 17px;
}


.ContApp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress {
    padding: 0;
    margin: 20px 0px !important;
    ;
}

.infoResult {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}