
.MJXc-TeX-math-I {
    font-family: MJXc-TeX-math-I, MJXc-TeX-math-Ix, MJXc-TeX-math-Iw;
}

.contInfo {
    width: 545px;
}

.progress-bar {
    padding: 0px 3px;
}


.ContApp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress {
    padding: 0;
    margin:  20px 0px !important;
    ;
}